Checks: >
  -*,
  clang-analyzer-*,
  clang-diagnostic-*,
  performance-*,
  readability-*,
  -readability-avoid-const-params-in-decls,
  -readability-uppercase-literal-suffix,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-implicit-bool-conversion,
  misc-*,
  -misc-const-correctness,
  -misc-non-private-member-variables-in-classes,
  -misc-include-cleaner,
  -misc-unused-parameters,
  -misc-use-anonymous-namespace,-warnings-as-errors,

WarningsAsErrors: 'src/.*'

ExtraArgs:
  - -Wno-unused-command-line-argument
  - -Wno-unused-parameter

HeaderFilterRegex: '^$'

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.MemberCase
    value: camelBack
  - key: readability-identifier-naming.ProtectedMemberCase
    value: camelBack
  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: _
  - key: readability-identifier-naming.PrivateMemberCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: _
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE